<section>
    <div class="container">
        <div class="breadcrumb">
            <h1>Partner Agent</h1>
            <ul>
                <li>List</li>
            </ul>
        </div>
        <div class="separator-breadcrumb border-top"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input id="email" placeholder="Search" [formControl]="searchControl"
                        class="form-control form-control-rounded" type="text">
                </div>
            </div>
            <div class="col-md-8 text-right">
                <button [routerLink]="['/users/add-edit/0/3/0']" type="button"
                    class="btn btn-primary btn-rounded m-1">Add
                </button>
                <button (click)="export()" type="button" class="btn btn-primary btn-rounded m-1">Export</button>
            </div>
            <div class="col-md-12">
                <div class="card o-hidden">
                    <ngx-datatable *ngIf="filtered?.length" style="height: 500px; box-shadow: none"
                        class="material fullscreen" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                        [rowHeight]="60" [scrollbarV]="true" [rows]="filtered">
                        <ngx-datatable-column name="S.No" [sortable]="false" [maxWidth]="50">
                            <ng-template ngx-datatable-header-template>
                                S.No
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex"
                                let-row="row">
                                {{rowIndex +1}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Title" prop="profile_img" [minWidth]="50" [width]="70">
                            <ng-template ngx-datatable-header-template>
                                Profile
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" #img01 (error)="img01.src = './assets/images/avatar.jpg'">
                                <img [src]="row.profile_img" >
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Title" prop="name" [minWidth]="50" [width]="70">
                            <ng-template ngx-datatable-header-template>
                                Name
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                {{row.first_name}} {{row.last_name && row.last_name != undefined && row.last_name != 'undefined' && row.last_name != 'null' ? row.last_name : ''}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Email" prop="email" [minWidth]="50" [width]="70">
                            <ng-template ngx-datatable-header-template>
                                Email
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                {{row.email}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Email" prop="user_type" [minWidth]="50" [width]="70">
                            <ng-template ngx-datatable-header-template>
                                Type
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                Partner Agent
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="weight" prop="mobile" [minWidth]="50" [width]="50">
                            <ng-template ngx-datatable-header-template>
                                Mobile
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                +{{row.phonecode}}{{row.mobile}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="weight" prop="account_number" [minWidth]="50" [width]="50">
                            <ng-template ngx-datatable-header-template>
                                Account
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                {{row.account_number}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Status" prop="status" [minWidth]="30" [width]="60">
                            <ng-template ngx-datatable-header-template>
                                Status
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                <label class="switch switch-primary mr-3">
                                    <!-- <input (click)="changeStatus(row.id, row.status)" type="checkbox" -->
                                    <!-- <input  (click)="changeStatus(row.id, row.status)" type="checkbox"
                                        [checked]="row.status"> -->
                                    <input (click)="changeDefaultAgentStatus(row)" type="checkbox"
                                        [checked]="row.status ? 1 : 0" value={{row.status}}>
                                    <span class="slider"></span>
                                </label>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="false" [minWidth]="50">
                            <ng-template ngx-datatable-header-template>
                                Action
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row"
                                let-rowIndex="rowIndex">
                                <button (click)="view(row.id)" type="button"
                                    class="btn btn-primary btn-rounded m-1">View</button>
                                <button (click)="edit(row.id)" type="button"
                                    class="btn btn-primary btn-rounded m-1">Edit</button>
                                <button (click)="Delete(row,rowIndex)" type="button"
                                    class="btn btn-danger btn-rounded m-1">Delete</button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <div class="col-md-12 text-center" *ngIf="!filtered?.length">
                    <div class="displayFlex">
                        <div>
                            <img src="../assets/images/nosearch.png"><br><br>
                            <h5><b>No data found!</b></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
