.pencileInner {
    color: white;
    position: absolute;
    top: 82px;
    right: 6px;
    background: #653298;
    font-size: 12px;
    padding: 7px 7px;
    border-radius: 50%;
    cursor: pointer;
}
.pencileBtn {
    position: relative;
}

.text-red{
    color: red !important;
}
