
.username{
display: flex;
gap: 0 5px;
}
::ng-deep #userDropdown.dropdown-toggle::after {
    position: relative;
    top: calc(50% - 2px);
    right: 1px !important;
}

::ng-deep .layout-sidebar-large .dropdown .username .dropdown-toggle::after {
display: none;
}
::ng-deep .layout-sidebar-large .show.dropdown .username .dropdown-toggle::after {
position: initial;
top: 30px;
right: 10px !important;
display: block;
}
::ng-deep .header-part-right .header-account-dropdown {
float: left;
width: auto;
margin-left: 25px;
margin-top: 2px;
}
::ng-deep .layout-sidebar-large .main-header .header-part-right .user h3 {
margin-bottom: 0;
line-height: 38px;
padding-right: 20px;
}