 <div class="rn-gt-wrapper">
    <div class="term-banner line-banner">
      <div class="privacy-hero hero-banner">
        <div class="container">
          <div class="row banner-row">
            <div class="col-lg-12 col-md-12 card-text">
              <div class="wow fadeInLeft" data-wow-delay="0.5s">
                <h1>{{"terms_conditions.terms_and_condition" | translate}}</h1>
                <p> {{"terms_conditions.these_terms" | translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="term-condition-dtl">
      <div class="container">
        <div class="career-page">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 services gap_top50">
                <div class="team_text source_content wow fadeInUp" data-wow-delay="0.2s">
                  <h4> {{"terms_conditions.TERMS_of_uSE" | translate}} ? </h4>
                  <ul>
                    <li> {{"terms_conditions.Welcome" | translate}}</li>
                    <li>{{"terms_conditions.the_services" | translate}}</li>
                    <li>{{"terms_conditions.Please_note" | translate}}.</li>
                    <li>{{"terms_conditions.By_enter" | translate}}  </li>
                    <h4>{{"terms_conditions.Definitions" | translate}}</h4>
                    <p>{{"terms_conditions.AAA" | translate}}</p>
                    <p>{{"terms_conditions.AAA_rules" | translate}}</p>
                    <p innerHTML='{{"terms_conditions.Agreement" | translate}}'></p>
                    <!-- <p>{{"terms_conditions.Agreement" | translate}}</p> -->

                    <p>{{"terms_conditions.Claim" | translate}}</p>
                    <p>{{"terms_conditions.Class" | translate}}</p>
                    <p>{{"terms_conditions.Feedback" | translate}}</p>
                    <p>{{"terms_conditions.My_Referral_Network" | translate}}</p>
                    <p>{{"terms_conditions.Services_Addendum" | translate}}</p>
                    <p>{{"terms_conditions.Services" | translate}}</p>
                    <p>{{"terms_conditions.Sites" | translate}}</p>
                    <p>{{"terms_conditions.Terms" | translate}}</p>
                    <p>{{"terms_conditions.Testing" | translate}}</p>
                    <p innerHTML='{{"terms_conditions.Third_Party_Content" | translate}}'></p>
                    <p>{{"terms_conditions.Third_Party_Sites" | translate}}</p>
                    <p innerHTML='{{"terms_conditions.Your_Content" | translate}}' ></p>
                    <p>{{"terms_conditions.All_other" | translate}}</p>

                    <h4>  {{"terms_conditions.GENERAL_TERMS" | translate}} </h4>
                    <p> {{"terms_conditions.Who_May" | translate}}. </p>
                    <p innerHTML='{{"terms_conditions.Third" | translate}}'> </p>
                    <p> {{"terms_conditions.Intellectual" | translate}}. </p>
                    <p> {{"terms_conditions.Stewart" | translate}}. </p>
                    <p> {{"terms_conditions.License" | translate}}. </p>
                    <p> {{"terms_conditions.Restrictions" | translate}}. </p>
                    <p> {{"terms_conditions.Right" | translate}}. </p>
                    <p> {{"terms_conditions.Scrubbing" | translate}}. </p>
                    <p> {{"terms_conditions.Feedback2" | translate}}. </p>
                    <p> {{"terms_conditions.Reservation" | translate}}. </p>
                    <p> {{"terms_conditions.Content" | translate}}. </p>
                    <p> {{"terms_conditions.Provision" | translate}}. </p>
                    <p> {{"terms_conditions.Forums" | translate}}. </p>
                    <p> {{"terms_conditions.Representations" | translate}}. </p>
                    <p> {{"terms_conditions.Termination" | translate}}. </p>
                    <p> {{"terms_conditions.Indemnification" | translate}}. </p>
                    <p> {{"terms_conditions.Disclaimers" | translate}} </p>
                     <p> {{"terms_conditions.Peddemors" | translate}} </p>
                     <p> {{"terms_conditions.NO_Stewart" | translate}} </p>
                     <p> {{"terms_conditions.THE_INFORMATION" | translate}}. </p>
                     <p> {{"terms_conditions.THE_VIEWS" | translate}} </p>
                     <p> {{"terms_conditions.Limitations" | translate}}. </p>
                     <p innerHTML='{{"terms_conditions.Copyright" | translate}}'>. </p>
                     <p>  {{"terms_conditions.General_Terms13" | translate}}</p>
                     <p>  {{"terms_conditions.Severability" | translate}}</p>
                     <p>  {{"terms_conditions.Notices" | translate}}.</p>
                     <p>  {{"terms_conditions.Amendments" | translate}}</p>
                     <p>  {{"terms_conditions.No_Waiver" | translate}}.</p>
                     <p>  {{"terms_conditions.Assignment" | translate}}.</p>
                     <p>  {{"terms_conditions.Alpha" | translate}}.</p>
                     <p>  {{"terms_conditions.International" | translate}}.</p>
                     <p>  {{"terms_conditions.Governing" | translate}}.</p>
                     <p>  {{"terms_conditions.For_Users" | translate}}.</p>
                     <p>  {{"terms_conditions.Who_Are" | translate}}.</p>
                     <p>  {{"terms_conditions.Dispute" | translate}}.</p>
                     <p>  {{"terms_conditions.Informal" | translate}}.</p>
                     <p>  {{"terms_conditions.Binding" | translate}}.</p>
                     <p>  {{"terms_conditions.YOU" | translate}}.</p>
                     <p>  {{"terms_conditions.SUBJECT" | translate}}.</p>
                     <p>  {{"terms_conditions.provision" | translate}}.</p>
                     <p>  {{"terms_conditions.Exceptions" | translate}}.</p>
                     <p>  {{"terms_conditions.Section" | translate}}.</p>
                     <p>  {{"terms_conditions.addition" | translate}}.</p>
                     <p>  {{"terms_conditions.Equitable" | translate}}.</p>
                     <p innerHTML='{{"terms_conditions.Rules" | translate}}'>.</p>
                     <p>  {{"terms_conditions.your" | translate}}.</p>
                     <p>  {{"terms_conditions.Arbitration" | translate}}.</p>
                     <p>  {{"terms_conditions.Delivery" | translate}}.</p>
                     <p>  {{"terms_conditions.Effect" | translate}}.</p>
                     <p>  {{"terms_conditions.Injunctive" | translate}}.</p>
                     <p>  {{"terms_conditions.Entire" | translate}}.</p>
                  </ul>
                  
                  <h4> {{"terms_conditions.Corporation" | translate}} </h4>
                  <h4> {{"terms_conditions.COPYRIGHT_POLICY" | translate}} </h4>
                  <h4> {{"terms_conditions.Notification" | translate}} </h4>

                   <ul>
                  <p> {{"terms_conditions.Personal" | translate}}</p>
                  <p> {{"terms_conditions.Real" | translate}} . </p>
                  <p innerHTML='{{"terms_conditions.accordance" | translate}}'></p>
                  <p> {{"terms_conditions.owner" | translate}}</p>
                </ul>
                  <ol>
                    <h4> {{"terms_conditions.Alleged" | translate}} </h4>
                    <li> {{"terms_conditions.Identify" | translate}} .</li>
                    <li> {{"terms_conditions.material" | translate}}  </li>
                    <li>  {{"terms_conditions.Provide" | translate}} .</li>
                    <li>  {{"terms_conditions.Include" | translate}} .</li>

                    <ul>
                      <li>{{"terms_conditions.hereby" | translate}}</li>
                      <li>{{"terms_conditions.state" | translate}}</li>
                    </ul> 

                    <li> {{"terms_conditions.electronic" | translate}}  </li>
                    <p>  {{"terms_conditions.items" | translate}}.</p>
                   

                  </ol>
                  <h4> {{"terms_conditions.Agent" | translate}} </h4>
                  <ul>
                  <p>  {{"terms_conditions.Legal" | translate}}.</p>
                  <p>  {{"terms_conditions.Surrey" | translate}}.</p>
                  <p innerHTML='{{"terms_conditions.esma" | translate}}'>.</p>
                  <p>1 -604-329-6759</p>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>