<div class="rn-gt-wrapper">
  <div class="agreement-banner line-banner">
    <div class="privacy-hero hero-banner">
      <div class="container">
        <div class="row banner-row">
          <div class="col-lg-12 col-md-12 card-text">
            <div class="wow fadeInLeft" data-wow-delay="0.5s">
              <h1>{{"meet_refferals.meet_refferals_works" | translate }}</h1>
              <!-- <h1>Meet-Refferals Works! </h1> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="agreement-condition-dtl">
    <div class="container">
      <div class="career-page">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 services gap_top50">
              <div class="team_text source_content wow fadeInUp" data-wow-delay="0.2s">
                <!-- <h4>Why should you meet Referral Agents </h4> -->
                <h4>{{"meet_refferals.why_should" | translate}} ?</h4>
                <!-- <p>
                    There is a need to meet
                    agents across Canada in areas that we don’t serve. It is good to
                    meet referral agents so you can get to know them before sending
                    your client or friends to people you don’t know. By meeting
                    referral agents, you get to know who they are and how they run
                    their business. You can find out their values and specialities
                    so they will be able to help out your clients and friends no
                    matter the need. Not every person is the right fit and by
                    meeting more referral agents you will be a better friends and
                    agent by recommending people that are the right fit. The other
                    advantage of meeting referral agents is that you can develop a
                    bond with agents across all regions and work with them to help
                    yourself in your profession by being able to ask questions, get
                    ideas and help your network grow.
                  </p> -->
                  <p> {{"meet_refferals.there_is" | translate}}</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


