
<div class="rn-gt-wrapper">
  <div class="agreement-banner line-banner">
    <div class="privacy-hero hero-banner">
      <div class="container">
        <div class="row banner-row">
          <div class="col-lg-12 col-md-12 card-text">
            <div class="wow fadeInLeft" data-wow-delay="0.5s">
              <!-- <h1>Ideas and How to!</h1> -->
              <h1>{{"ideas.Ideas_and" | translate}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="agreement-condition-dtl">
    <div class="container">
      <div class="career-page">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 services gap_top50">
              <div
                class="team_text source_content wow fadeInUp"
                data-wow-delay="0.2s"
              >
                <!-- <h4>How do you set up your go to network?</h4> -->
                <h1>{{"ideas.How_do_you" | translate}}</h1>
                <!-- <p>
                  It does take time as you have to build up your relationships
                  with genuine efforts to get to know the people in your network
                  and for them to get to know you. It is not all about you
                  getting business it is about sharing. Send out invites to meet
                  when you are out of your area to meet other agents in person.
                  Make your holiday and great time to meet new friends in other
                  area who can share their knowledge of the area you are
                  visiting and get more out of you vacation. Staying in contact
                  of your network is important. Being regular and meaningful in
                  your contacts. It will be rewarding as you meet more new
                  people in person and how much you can reward each other with
                  networking and friendship.
                </p> -->
                <p>{{"ideas.It_does_take_time" | translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
