<div class="rn-gt-wrapper">
    <div class="agreement-banner line-banner">
      <div class="privacy-hero hero-banner">
        <div class="container">
          <div class="row banner-row">
            <div class="col-lg-12 col-md-12 card-text">
              <div class="wow fadeInLeft" data-wow-delay="0.5s">
                <h1>{{ "user_agreement.user_agreement" | translate}}</h1>
                <!-- <p> {{ "user_agreement.lorem_ipsum_dolor_sit_amet" | translate}}.</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="agreement-condition-dtl">
      <div class="container">
        <div class="career-page">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 services gap_top50">
                <div class="team_text source_content wow fadeInUp" data-wow-delay="0.2s">
                  <!-- <h4> {{ "user_agreement.where_does_it_come_from" | translate}} ?</h4> -->
                  <p>{{"user_agreement.any_user" | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>