select.form-control{
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    

}

.col-md-12.text-center.ng-star-inserted {
    position: absolute;
    top: 200px;
  }
  .material {  color: white; }
  
  
  
  ::ng-deep .remove-filter .datatable-header-cell:last-child span.datatable-icon-sort-unset.sort-btn {
    display: none;
}
::ng-deep .mat-paginator-page-size-select {
  margin: 6px 4px 0 4px;
  
  width: 40px !important;
}