
  
  <div class="rn-gt-wrapper">
    <div class="container-fluid px-0">
      <div class="row gt-row--main">
        <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12 gt-col--left">
          <div class="gt-content--left">
            <div class="gt-contents--main">
              <div class="gt-contents--inner u-fancy-scrollbar">
                <h3 class="title--large cc-book mb-40" style="line-height:40px">{{"login.welcome_to_my_referral_network" | translate}}</h3>
                <p class="cc-book mb-30">{{"login.this_website_desc" | translate}}</p>
                <p class="cc-book mb-30">{{"login.the_Realtors_desc" | translate}}</p>
                <p class="cc-book mb-30">{{"login.the_my_referral_network_team" | translate}}</p>
              </div>
            </div>
            <div class="bg-collage" style="background-image: url('assets/images/collage-img.png');"></div>
          </div>
        </div>
        <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12 gt-col--right">
          <div class="gt-content--right">
            <div class="home-btn-row">
              <button [routerLink]="['/home']" class="btn btn-blue-fill p-2 m-3" style="float: right;">{{"request.loginBackButtonName" | translate}}</button>

            </div>

            <div class="gt-contents--main rf-login-form">
              
              <form name="loginForm" [formGroup]="loginForm" (ngSubmit)=onLogin() >
              <div class="gt-contents--inner u-fancy-scrollbar ">
                <h3 class="title--large cc-book text-center mb-30" *ngIf="checkparam == 'counsumer'" >{{"login.public_sign_in" | translate}}</h3>
                <h3 class="title--large cc-book text-center mb-30" *ngIf="checkparam == 'client'" >{{"login.client_sign_in" | translate}}</h3>
                <h3 class="title--large cc-book text-center mb-30" *ngIf="checkparam == 'realtor'" >{{"login.realtor_sign_in" | translate}}</h3>

                
                
                <!-- <h3 class="title--large cc-book text-center mb-30">{{"login.sign_in" | translate}}</h3> -->
                <div class="row gt-form--row">
                  
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group mb-20">
                      <div class="form-floating">
                        <input type="text" class="form-control" maxlength="{{validations_cnfg.m50}}" id="email_gt" placeholder="Email*" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" onKeyPress="return event.charCode != 32" >
                        <label for="email_gt">{{"login.email" | translate}}<span class="text-red">*
                        </span></label>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div class="validation_class" *ngIf="f.email.errors.required" >{{"login.email_is_require" | translate}} </div>
                          <div class="validation_class" *ngIf="f.email.errors.pattern" >{{"login.email_pattern_is_wrong" | translate}} </div>
                          <div class="validation_class" *ngIf="f.email.errors.maxlength" >Email is too large.</div>
                    </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group mb-20">
                      <div class="form-floating">
                        <input type="password" class="form-control" maxlength="{{validations_cnfg.m30}}" [type]="showHidePass ? 'password': 'text'"
                id="password_gt" placeholder="Password" formControlName="password" value="Samo@321!" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                              <a href="javascript:void(0);" (click)="showHidePassword()" id="show"><span
                          [ngClass]="showHidePass ? 'fas fa-eye-slash eye-icon' : 'far fa-eye eye-icon'"></span></a>
                  

                        <label for="password_gt">{{"login.password" | translate}}<span class="text-red">*
                        </span> </label>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required" class="validation_class">{{"login.password_is_required" | translate}} </div>
                          <div *ngIf="f.password.errors.minlength" class="validation_class">{{"login.password_must_be_at_least_6_characters" | translate}} </div>
                          <div *ngIf="f.password.errors.maxlength" class="validation_class">Password is too large</div>
                    </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-btn-group mb-20 mt-20">
                      <div class="btn-row-flex">
                        <div class="flex-item">
                          <div class="form-check-custom">
                            <input type="checkbox" name=""  formControlName="rememberme" id="rememberme" name="rememberme" class="check-item-custom">
                            <label for="rememberme" class="check-label-custom">{{"login.save_password" | translate}}</label>
                            
                          </div>
                        </div>
                        <div class="flex-item">
                          <a  class="btn btn-link" (click)="open(mymodal)">{{"login.forgot_password" | translate}}?</a>
                        </div>

                <ng-template #mymodal let-modal >
                  
                     <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Forgot Password</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal_dismiss()">
                            <span aria-hidden="true">×</span>
                        </button>
                   </div>
                                <div class="card-body">
                                  <div class="mb-4">
                               
               <p class="mb-2">Enter your email address and we'll send you an email with instructions to reset your password. </p>
</div>
<form [formGroup]="ForgetPassword">
           <div class="form-group">                             
               <input maxlength="{{validations_cnfg.m50}}" 
               type="text" placeholder="Email"    class="form-control" formControlName="checkEmail" required>
                  <div *ngIf="ForgetPassword.controls['checkEmail'].errors && (!ForgetPassword.controls['checkEmail'].pristine || submitted ||ForgetPassword.controls['checkEmail'].touched )"
              class="error-msg">
          <div [hidden]="!ForgetPassword.controls['checkEmail'].errors.required" style="color: red;">Email is Required</div>
          <div [hidden]="!ForgetPassword.controls['checkEmail'].errors.pattern" style="color: red;">Email is invalid</div>

            </div>
            </div> 
        <br> 
             <button type="submit" class="btn btn-primary" (click)="checkEmail()">Reset Password</button>
              </form>
            </div>
                           </ng-template>

                      </div>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-btn-group mt-40 d-flex align-items-center ">
                      <a *ngIf="checkparam == 'counsumer'" routerLink="/consumer-registration"  class="btn btn-blue-fill">{{"login.sign_up" | translate}}</a>
                      <a *ngIf="checkparam == 'client'" routerLink="/client-registration"  class="btn btn-blue-fill"> {{"login.sign_up" | translate}}</a>
                      <a *ngIf="checkparam == 'realtor'" routerLink="/realtor-registration"  class="btn btn-blue-fill"> {{"login.sign_up" | translate}}</a>
                      <button  class="btn btn-blue-fill justify-content-end" style="margin-left: auto;">{{"login.sign_in" | translate}}</button>
                      <!-- <button  class="btn btn-blue-fill justify-content-end" style="margin-left: 60%;">Sign In</button> -->

                    </div>
                  </div>
                  

                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/script.js"></script>
