::ng-deep .cuppa-dropdown .dropdown-list{ left: unset !important;    top: 1360px !important; }

.image-coropp-popup image-cropper {
    width: auto !important;
    height: auto !important;
}
.image-crop-view button{
  position: absolute;
    clear: both;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 0;
    border-radius: 0;
    font-size: 15px;
    width: 120px;
    background-color: rgb(0 0 0 / 60%);
    /* height: 36px; */
    height: auto;
    line-height: 1.5;
}
.web-icon-btn
  {
    position: absolute;
    top: 0px;
    height: 58px;
  }
  .web-icon label, .web-icon input
  {    padding-left: 47px;}

.eye-icon {
  float: right;
  margin-right: 10px;
  margin-top: -37px;
  position: relative;
}

.multi-select-m angular2-multiselect{
  padding: 0;
  height: auto;
  }

  .is-invalid{
    margin-right: 30px;
  }