  <!-- <div class="rn-gt-wrapper rn-ct-wrapper">
    <div class="noswipe-inner noswipe--image">
      <div class="nsi-img-bg" style="background-image: url('./assets/images/contact-bg.png');"></div>
      <div class="sh-padding pt-100 pt-md-80 pt-xs-60 pb-110 pb-md-70 pb-xs-80">
        <div class="sh-banner pl-120 pl-md-40 pl-xs-20">
          <div class="row">
            <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="noswipe-caption">
                <h2 class="ns-title--main">{{"about_us.lorem_headingFirst" | translate}}</h2>
                <h5 class="ns-title--blue cc-book ns-title-border"> {{"about_us.duis_content" | translate}}</h5>
                <p class="cc-book mb-0">{{"about_us.sed_ut" | translate}}</p>
                <ul class="list-inline bullet-points">
                  <li><span>{{"about_us.design" | translate}}</span></li>
                  <li><span> {{"about_us.setup" | translate}}</span></li>
                  <li><span> {{"about_us.development" | translate}}</span></li>
                  <li><span> {{"about_us.integeration" | translate}}</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="rn-ct-contents pt-100 pt-md-80 pt-xs-60 pb-110 pb-md-70 pb-xs-80">
        <div class="row row-abt-sec-l1">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="abt-box">
              <div class="abt-box--inner">
                <div class="row abt-row--box">
                  <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="abtc-image">
                      <span style="background-image: url('images/pexels-fauxels-3182750.png');"></span>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="abt-contents--main">
                      <h6 class="color-blue mb-10">{{"about_us.about_us" | translate}}</h6>
                      <h1 class="mb-40">{{"about_us.my_referral_network" | translate}}</h1>
                      
                      <p>{{"about_us.about_new_contect" | translate}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="rn-ct-contents">
        <div class="row row-abt-sec-l2 align-items-center">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="abt-l2-cotents pb-60 pb-md-50 pb-xs-40">
              <h2 class="mb-30">{{"about_us.ut_enim_ad_content"| translate}}</h2>
              <p>{{"about_us.sed_ut_perspiciatis_content1"| translate}}</p>
              <p>{{ "about_us.ut_enim_ad_minima_content" | translate}}</p>
              <p>{{"about_us.quis_content" | translate}} </p>
            </div>
            <div class="abt-l2-cotents pb-60 pb-md-50 pb-xs-40">
              <h2 class="mb-30">{{"about_us.sed_ut_perspiciatis_unde_omnis" | translate}}</h2>
              <p>{{"about_us.at_vero_content"| translate }} </p>
              <p>{{"about_us.nam_libero_content" | translate }} </p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="abt-l2-cotents pb-60 pb-md-50 pb-xs-40">
              <h2 class="mb-30"> {{"about_us.lorem_ipsum_dolor_sit_amet" | translate}}.</h2>
              <p>{{"about_us.sed_ut_perspiciatis_unde_omnis_iste" | translate}}.</p>
              <p> {{"about_us.nemo_enim_ipsam" | translate}}.</p>
              <p> {{"about_us.ut_enim_ad_minima"| translate}}./p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blocks-content-wrapper bg-gray-light">
    <div class="rn-ct-contents pt-100 pt-md-80 pt-xs-60 pb-100 pb-md-70 pb-xs-80">
      <div class="container">
        <div class="row row-ct--heading justify-content-center">
          <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h1 class="mb-20">{{"about_us.at_vero_eos_et" | translate}}</h1>
            <p class="mb-0">{{"about_us.at_vero_eos_et_accusamus"| translate }}</p>
          </div>
        </div>
        <div class="row row-bc--swiper mt-50">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="secm-content--swiper">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="secm-box--main">
                      <div class="number-badge bg-blue">1</div>
                      <div class="secm-box--inner shadow-sm">
                        <div class="fb-box-border-top bg-blue"></div>
                        <h5 class="text-center mb-20">{{"about_us.lorem_ipsum_is_simply_dummy_text" | translate}}</h5>
                        <p class="text-center">{{ "about_us.sed_ut_perspiciatis_unde" | translate}}</p>
                        <div class="action-more mt-40"><a href="">{{"about_us.read_more" | translate}} >></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="secm-box--main">
                      <div class="number-badge bg-blue">2</div>
                      <div class="secm-box--inner shadow-sm">
                        <div class="fb-box-border-top bg-blue"></div>
                       <h5 class="text-center mb-20">{{"about_us.lorem_ipsum_is_simply_dummy_text" | translate}}</h5>
                        <p class="text-center">{{ "about_us.sed_ut_perspiciatis_unde" | translate}}</p>
                        <div class="action-more mt-40"><a href="">{{"about_us.read_more" | translate}} >></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="secm-box--main">
                      <div class="number-badge bg-blue">3</div>
                      <div class="secm-box--inner shadow-sm">
                        <div class="fb-box-border-top bg-blue"></div>
                        <h5 class="text-center mb-20">{{"about_us.lorem_ipsum_is_simply_dummy_text" | translate}}</h5>
                        <p class="text-center">{{ "about_us.sed_ut_perspiciatis_unde" | translate}}</p>
                        <div class="action-more mt-40"><a href="">{{"about_us.read_more" | translate}} >></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="secm-box--main">
                      <div class="number-badge bg-blue">4</div>
                      <div class="secm-box--inner shadow-sm">
                        <div class="fb-box-border-top bg-blue"></div>
                        <h5 class="text-center mb-20">{{"about_us.lorem_ipsum_is_simply_dummy_text" | translate}}</h5>
                        <p class="text-center">{{ "about_us.sed_ut_perspiciatis_unde" | translate}}</p>
                        <div class="action-more mt-40"><a href="">{{"about_us.read_more" | translate}} >></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="secm-navs--pagination"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> -->

  <!-- <div class="rn-gt-wrapper">
    <div class="agreement-banner line-banner">
      <div class="privacy-hero hero-banner">
        <div class="container">
          <div class="row banner-row">
            <div class="col-lg-12 col-md-12 card-text">
              <div class="wow fadeInLeft" data-wow-delay="0.5s">
                <h1>{{"aboutUS.title" | translate }}</h1>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="agreement-condition-dtl">
      <div class="container">
        <div class="career-page">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 services gap_top50">
                <div class="team_text source_content wow fadeInUp" data-wow-delay="0.2s">
                    <p> {{"aboutUS.content" | translate}}</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  
  
<div class="rn-gt-wrapper">
  <div class="agreement-banner line-banner">
    <div class="privacy-hero hero-banner">
      <div class="container">
        <div class="row banner-row">
          <div class="col-lg-12 col-md-12 card-text">
            <div class="wow fadeInLeft" data-wow-delay="0.5s">
             
              <h1>{{"about_us.about_us" | translate}}</h1>
              <p> {{"about_us.help" | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="agreement-condition-dtl">
    <div class="container">
      <div class="career-page">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 services gap_top50">
              <div
                class="team_text source_content wow fadeInUp"
                data-wow-delay="0.2s"
              >
              <h4>{{"about_us.web" | translate}}</h4>
              <p> {{"about_us.website" | translate}}</p>
                
                <!-- <p>{{"about_us.content1" | translate}}</p>
                <p>{{"about_us.content2" | translate}}</p>
                <p>{{"about_us.content3" | translate}}</p>
                <p>{{"about_us.Sincerely" | translate}}</p>
                <p>{{"about_us.the_My_Referral_Network_Team" | translate}}</p> -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
