.map-area--wrapper .map-wrap iframe {position: relative; width: calc(100% - 475px) !important; height: 99%; }
.map-area--sidebar .grid-lists--nostyled.withbg .gl-box {min-height: 124px; }
/*
div#navbarNavAltMarkup {
    z-index: 9999999;
    top: 14px;
    position: fixed;
}*/

agm-map {height: 100%; width: 100%; position: relative;}
::ng-deep .gm-svpc {display: none !important; }
::ng-deep .gm-fullscreen-control {display: none !important; }
.map-search {position: absolute !important; top: 2px !important; z-index: 2 !important; left: 0; width: calc(100% - 457px); }
body .map-search .map-search-row {position: relative !important; }
.map-search .map-search-row {position: absolute !important; top: 5px !important; right: 0 !important; left: 0 !important; z-index: 2; width: calc(100% - 40px) !important; margin: 0 auto !important; margin-right: 0; }
.map-search .search-submit{height: 42px; width: 42px; }
.search-field-inp {width: calc(37% - 28px) !important; margin-right: 10px !important; height: 42px; }
.limitTextHeight {height: 20px; overflow: hidden; }
.rnp-image {height: 90px; }
.gm-style .gm-style-iw-c {transform: translate(-100%, -100%) !important; top: -4px; }
.error-msg {color: red; font-size: 15px; }
::ng-deep .gm-ui-hover-effect {background-color: red !important; color: white !important; display: block !important; border: 0px !important; margin: 0px !important; padding: 0px !important; text-transform: none; appearance: none; position: absolute; cursor: pointer; user-select: none; top: 5px !important; right: 8px  !important; /* width: 142px  !important; */ /* height: 30px  !important; */ }
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {margin: 0; top: 0 !important; }
.modal-backdrop.fade.show {z-index: 999999; }
/* .modal-open .modal{ */
/* z-index: 999999 !important; */

/* ::ng-deep .gm-style {
  font: 400 11px Roboto, Arial, sans-serif;
  text-decoration: none;
  z-index: 99999 !important;
} */
::ng-deep .modal-open .modal {z-index: 9999999 !important; }

@media (max-width: 600px) {
.map-search .map-search-row {width: calc(100% - 5px) !important; margin-right:5px !important; top: 2px !important; } 
.search-field-inp {width: calc(100% - 10px) !important; margin-right: 2px !important; height: 34px; font-size: 12px; margin-bottom: 4px; }

}

ng-select ::ng-deep .focus {border-color: #1268ff; outline: 0; box-shadow: 0 0 0 0.2rem rgba(0, 53, 145, 0.25); }
::ng-deep .referpopup .ng-select.ng-select-single .ng-select-container,
::ng-deep .referpopup .form-control {height: calc(2.5rem + 2px); line-height: 28px !important; }
::ng-deep .referpopup .form-group {margin-top: 12px; }
::ng-deep .agm-info-window-content .rnp-head h6 {margin-bottom: 0; }
.text-msg {min-height: 80px; }
/* right: 6px !important;
top: 10px !important; */

::ng-deep .rn-map--popover .rnp-head {position: relative; display: block; padding: 16px 18px 24px 18px !important; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
::ng-deep .cross_BTN .gm-ui-hover-effect {right: 10px !important; top: -2px !important; }
::ng-deep .cmn_BTN .gm-ui-hover-effect {right: 10px !important; top: -2px !important; }
.map-search-row .searchBoxResult ul#UserListIdPopup {max-height: 280px; overflow: auto; }
.map--text-row{left: 0; width: 104px; margin-top: 0; height: 41px; padding: 12px 5px; }
.map-search .search-field {display: flex; justify-content: flex-end; right: 48px; }
.map-search .fa-search {font-size: 18px; line-height: 28px; }
.map--text-row h5, .map--text-network {font-size: 13px; }
.map--text-row{left: 0; width: 119px; margin-top: 0; height: 40px; padding: 12px 5px; }

::ng-deep .swal2-container.swal2-backdrop-show, ::ng-deep .swal2-container.swal2-noanimation {background: rgba(0,0,0,.5); z-index: 999999 !important; overflow: hidden; }
::ng-deep body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {height: inherit !important; }
.modal-backdrop.show {opacity: .5; z-index: 9999999 !important; }

::ng-deep .modal-backdrop.fade.show {z-index: 99999 !important; }
.map-area--sidebar .sidebar--body {max-height: calc(100% - 0px) !important; }
body{display:none !important; }

@media only screen and (max-width: 768px) {

::ng-deep body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {height: inherit !important; } 
.rn-map--popover{max-width: 250px; }

}


@media only screen and (max-width: 600px) {
.map-search-box.search-field {flex-wrap: wrap; }
::ng-deep .map--text-row {left: 10px !important;
    width: 76px !important;
    padding: 6px 0px !important;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;}
::ng-deep .map--text-row h5, .map--text-network {font-size: 12px !important; }
/*::ng-deep header.rn-header .navbar--right .rn-lang-dropdown .rn-lang--selected {width: 38px; height: 35px; font-size: 14px; padding: 6px 8px; }*/

header.rn-header .navbar--right .rn-lang-dropdown .dropdown-menu li {font-size: 14px !important; } 
::ng-deep .gm-control-active>img{height: 14px !important; width: 14px !important; }
.rf-login-form h3 {text-align: left !important; font-size: 20px; }
.rn-map--popover .rnp-body {padding: 16px 1px 20px 6px;}

 }


@media only screen and (max-width: 480px) {
.map-search .search-submit {height: 38px; width: 38px; }
.map-search .search-field {right: 40px; }
body .map--text-row {width: 68px !important;  }
.search-field-inp{width: calc(100% - 0px) !important; }
  
}
.search-refresh{
  position: absolute;
  right: -40px;
  top: 93px;
  background-color: #ffff;
  border: 0;
  width: 40px;
  height: 36px;
  line-height: 37px;
}
.search-refresh{
color: #666;
font-weight:bold;
}
